<div>
    Action!
</div>

@Html.EventRefreshAction("ChildAction").WithEvent(typeof(EventPush.Events.FooEvent))    

<fieldset>
    <legend>foo bar</legend>
    @Html.EventRefreshAction("ChildAction").WithEvent(typeof(EventPush.Events.FooEvent))

</fieldset>
@section Scripts{
    
}