<div>
    Action!
</div>

@Html.EventRefreshAction("ChildAction").WithEvents(typeof(EventPush.Events.FooEvent), typeof(EventPush.Events.BarEvent))

    <fieldset>
        <legend>foo bar</legend>
        @Html.EventRefreshAction("ChildAction").WithEvent(typeof(EventPush.Events.FooEvent))
    </fieldset>

    @section Scripts{

    }